<html>
<head>
	<style>
		li {display:inline}
	</style>
</head>
<body>
<ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/mail/inbox">Mail</a></li>
	<li><a href="/storage.html">Storage</a></li>
	<form action='/handle_logout' method='post' style='display:inline;'>
		<button type='submit' name='logout' value='logout'>Logout</button>
	</form>
</ul>
<h1>Compose Mail</h1>
<form action="/send_mail" method="post">
	To: <input type="text" name="to">
	<br><br>
	Subject: <input type="text" name="subject">
	<br><br>
	Message: <br><textarea name="message"></textarea>
	<br><br>
	<input type="submit" value="Submit">
</form>
</body>
</html>